
<div class="cards-search">
    <h6 *ngIf="error"><i>Wrong character name inserted!</i></h6>
    <input class="form-control" placeholder="Search by name..." [(ngModel)]="searchTerm" (keyup.enter)="searchCharacterByName(searchTerm)">
    <div class="cards-list">
        <mat-expansion-panel class="exp-panel" *ngFor="let character of characters" hideToggle="false" [expanded]="openValue">

            <mat-expansion-panel-header class="mat-head">
                <h1 class="name">{{character.name}}</h1>
            </mat-expansion-panel-header>
                
            <ng-template class="col-lg-4 detail-panel" matExpansionPanelContent>
            <div class="col-lg-5 info-panel">
                <h5>Culture: {{character.culture}}</h5>
                <h5>Gender: {{character.gender}}</h5>
                <h5>Born: {{character.born}}</h5>
                <h5>Died: {{character.died}}</h5>

                <h5 *ngIf="character.titles[0] == '(unknown)'">Titles: {{character.titles}}</h5>
                <h5 *ngIf="character.titles[0] != '(unknown)'">Titles: <li *ngFor="let title of character.titles" >{{title}}</li></h5>

                <h5>Mother:
                    <i  *ngIf="character.mother != '(unknown)'" (click)="searchCharacterByName(character.mother)" class="selectable-object">{{character.mother}}</i>
                    <i  class="unknown-i" *ngIf="character.mother == '(unknown)'">{{character.mother}}</i> 
                </h5>
                <h5>Father:
                    <i  *ngIf="character.father != '(unknown)'" (click)="searchCharacterByName(character.father)" class="selectable-object">{{character.father}}</i>
                    <i class="unknown-i" *ngIf="character.father == '(unknown)'">{{character.father}}</i> 
                </h5>
                <h5>Spouse:
                    <i  *ngIf="character.spouse != '(unknown)'" (click)="searchCharacterByName(character.spouse)" class="selectable-object">{{character.spouse}}</i>
                    <i class="unknown-i" *ngIf="character.spouse == '(unknown)'">{{character.spouse}}</i> 
                </h5>
                <h5 *ngIf="character.allegiances[0] == '(unknown)'">Houses: {{character.allegiances[0]}}</h5>
                <h5 *ngIf="character.allegiances[0] != '(unknown)'">Houses: <li *ngFor="let allegiance of character.allegiances"><i class="selectable-object" (click)="clickOnHouse(allegiance)">{{allegiance}}</i></li></h5>
                
            </div>

            <div class="col-lg-7 panel panel-warning search-panel-right" *ngIf="character.povBooks.length >0">
                <h5>Present in books:</h5>
                <input class="form-control" placeholder="Search by book name..." [(ngModel)]="searchBookTerm" (keyup)="searchInList(searchBookTerm, character)">
                <div class="search-list-right">
                    <div class="search-list-right-element" *ngFor="let book of bookList">
                        <h6><i (click)="clickOnBooks(book)">{{book}}</i></h6>
                    </div>
                </div>
            </div>

            </ng-template>
        </mat-expansion-panel> 
    </div>

        <div class="paging" *ngIf="characters.length > 1">
            <button class="col-xs-4 btn btn-light" [disabled]="currentPage == 1" (click)="clickStepPage(1)"> << </button>
            <button class="col-xs-4 btn btn-light" [disabled]="currentPage <= 1" (click)="clickStepPage(currentPage-1)">  < </button>
            <div class="page-numbers">{{currentPage}}/{{maxPages}}</div>
            <button class="col-xs-4 btn btn-light" [disabled]="currentPage >= maxPages" (click)="clickStepPage(currentPage+1)"> > </button>
            <button class="col-xs-4 btn btn-light" [disabled]="currentPage == maxPages" (click)="clickStepPage(maxPages)">  >> </button>
        </div>
</div>