<div class="cards-search">
    <h6 *ngIf="error"><i>Wrong book name inserted!</i></h6>
   <input class="form-control" placeholder="Search by name..." [(ngModel)]="searchTerm" (keyup.enter)="searchBookByName(searchTerm)">
   <div class="cards-list">
       <mat-expansion-panel class="exp-panel" *ngFor="let book of books" hideToggle="false" [expanded]="openValue">

           <mat-expansion-panel-header class="mat-head" >
               <h1 class="name">{{book.name}}</h1>
           </mat-expansion-panel-header>
               
           <ng-template class="col-lg-4 detail-panel" matExpansionPanelContent>
           <div class="col-lg-5 info-panel">
               <h5>ISBN: {{book.isbn}}</h5>
               <h5 *ngIf="book.authors[0] == '(unknown)'">Authors: {{book.authors}}</h5>
               <h5 *ngIf="book.authors[0] != '(unknown)'">Authors: <li *ngFor="let author of book.authors">{{author}}</li></h5>
               <h5>Number of pages: {{book.numberOfPages}}</h5>
               <h5>Publisher: {{book.publisher}}</h5>
               <h5>Country: {{book.country}}</h5>
               <h5>Media type: {{book.mediaType}}</h5>
               <h5>Released: {{book.released}}</h5> 
           </div>

           <div class="col-lg-7 search-panel-right" *ngIf="book.characters.length > 0">
                
                <h5>Characters in book:</h5>
               <input class="form-control" placeholder="Search by character name..." [(ngModel)]="searchCharacterTerm" (keyup)="searchInList(searchCharacterTerm, book)">
               <div class="search-list-right">
                   <div class="search-list-right-element" *ngFor="let character of characterList">
                       <h6><i (click)="clickOnCharacter(character)">{{character}}</i></h6>
                   </div>
               </div>
           </div>

           </ng-template>
       </mat-expansion-panel> 
   </div>
</div>