<div class="cards-search">
    <h6 *ngIf="error"><i>Wrong house name inserted!</i></h6>
    <input class="form-control" placeholder="Search by name..." [(ngModel)]="searchTerm" (keyup.enter)="searchHouseByName(searchTerm)">
    <div class="cards-list">
        <mat-expansion-panel class="exp-panel" *ngFor="let house of houses" hideToggle="false" [expanded]="openValue">

            <mat-expansion-panel-header class="mat-head">
                <h1 class="name">{{house.name}}</h1>
            </mat-expansion-panel-header>
                
            <ng-template class="col-lg-4 detail-panel" matExpansionPanelContent>
            <div class="col-lg-5 info-panel">
                <h5>Region: {{house.region}}</h5>
                <h5>Coat of Arms: {{house.coatOfArms}}</h5>
                <h5>Words: {{house.words}}</h5>

                <h5 *ngIf="house.titles[0] == '(unknown)'">Titles: {{house.titles}}</h5>
                <h5 *ngIf="house.titles[0] != '(unknown)'">Titles: <li *ngFor="let title of house.titles" >{{title}}</li></h5>
                
                <h5 *ngIf="house.seats[0] == '(unknown)'">Seats: {{house.seats}}</h5>
                <h5 *ngIf="house.seats[0] != '(unknown)'">Seats: <li *ngFor="let seat of house.seats" >{{seat}}</li></h5>

                <h5>Current Lord:
                    <i  *ngIf="house.currentLord != '(unknown)'" class="selectable-object" (click)="clickOnCharacter(house.founder)">{{house.currentLord}}</i>
                    <i  class="unknown-i" *ngIf="house.currentLord == '(unknown)'">{{house.currentLord}}</i> 
                </h5>

                <h5>Heir:
                    <i  *ngIf="house.heir != '(unknown)'"  class="selectable-object" (click)="clickOnCharacter(house.founder)">{{house.heir}}</i>
                    <i class="unknown-i" *ngIf="house.heir == '(unknown)'">{{house.heir}}</i> 
                </h5>
                <h5>Founded: {{house.founded}}</h5>

                <h5>Founder:
                    <i  *ngIf="house.founder != '(unknown)'" class="selectable-object" (click)="clickOnCharacter(house.founder)">{{house.founder}}</i>
                    <i class="unknown-i" *ngIf="house.founder == '(unknown)'">{{house.founder}}</i> 
                </h5>

                <h5 *ngIf="house.cadetBranches[0] == '(unknown)'">Cadet Branches: {{house.cadetBranches[0]}}</h5>
                <h5 *ngIf="house.cadetBranches[0] != '(unknown)'">Cadet Branches: <li *ngFor="let cadet of house.cadetBranches"><i class="selectable-object" (click)="searchHouseByName(cadet)">{{cadet}}</i></li></h5>
                
            </div>

            <div class="col-lg-7 panel panel-warning search-panel-right" *ngIf="house.swornMembers.length >0" >
                <h5>Sworn members:</h5>
                <input class="form-control" placeholder="Search by character name..." [(ngModel)]="searchMemberTerm" (keyup)="searchInList(searchMemberTerm, house)">
                <div class="search-list-right">
                    <div class="search-list-right-element" *ngFor="let character of swornList">
                        <h6 (click)="clickOnCharacter(character)"><i>{{character}}</i></h6>
                    </div>
                </div>
            </div>

            </ng-template>
        </mat-expansion-panel> 
    </div>

    <div class="paging" *ngIf="houses.length > 1">
        <button class="col-xs-4 btn btn-light" [disabled]="currentPage == 1" (click)="clickStepPage(1)"> << </button>
        <button class="col-xs-4 btn btn-light" [disabled]="currentPage <= 1" (click)="clickStepPage(currentPage-1)">  < </button>
        <div class="page-numbers">{{currentPage}}/{{maxPages}}</div>
        <button class="col-xs-4 btn btn-light" [disabled]="currentPage >= maxPages" (click)="clickStepPage(currentPage+1)"> > </button>
        <button class="col-xs-4 btn btn-light" [disabled]="currentPage == maxPages" (click)="clickStepPage(maxPages)">  >> </button>
    </div>
</div>