@import url('C:\Programok\got-angular\node_modules\primeng\resources\primeng.min.css');
@import url('C:\Programok\got-angular\node_modules\primeicons\primeicons.css');
@import url('C:\Programok\got-angular\node_modules\primeflex\primeflex.css');

@import url('C:\Programok\got-angular\node_modules\@material\snackbar\mdc-snackbar.scss');

.cards-search{
    background-color: rgb(180,150,107);
    border-radius: 25px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.mat-head{
    display: flex;
    height: 50px;
    align-content: center;
    background-color: rgb(116, 96, 69);
}

.mat-head:hover{
    display: flex;
    background-color:  rgb(162, 127, 80);
}


.cards-list{
    color: #ffffff;
}

.exp-panel{
    padding: 5px;
}

.details-name{
    color: black;
}

.btn{
    width: 50px;
}

.paging{
    display: flex;
    justify-content: center;
    line-height: 45px;
}

button[disabled='disabled'] {
    color: rgb(78, 75, 75) !important;
}

.page-numbers{
    margin-left: 20px;
    margin-right: 20px;
}

.selectable-object:hover{
    color: rgb(162, 127, 80);
    cursor: pointer;
}

.unknown-i{
    font-style: normal;
}

.detail-panel{
    display: inline-block;   
}

.info-panel{
    display: inline-block;
    vertical-align: top;
}

.search-panel-right{
    display: inline-block;
    vertical-align: top;
}

.search-list-right{
    border-radius: 15px;
    background-color: rgb(116, 96, 69);
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
}

.search-list-right-element{
    align-content : center;
    padding: 5px;
}

.search-list-right-element:hover{
    color: rgba(162, 126, 80, 0.658);
    cursor: pointer;
}


.btn{
    width: 100px;
    margin-left: 25px;
    margin-right: 25px;
}
