<nav>
    <ul class="navbar">
        <a routerLink="/books" routerLinkActive="active">Books</a>
        <a routerLink="/houses" routerLinkActive="active">Houses</a>
        <a routerLink="/characters" routerLinkActive="active">Characters</a>
    </ul>
  </nav>

  