.navbar {
    display: flex;
    justify-content: flex-start;
    height: 60px;
    background-color: #331c0e;
  }

  .navbar a {
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #8f620e;
    border-radius: 10px;
  }
  
  .navbar a.active {
    background-color: #8f620e;
    border-radius: 10px;
  }
  